PORT=3000
NODE_ENV=development
DATABASE_URL=mysql://root:@localhost:3306/tech_hub_db
JWT_SECRET=mnTKHscT3xKINLI281LF+ozW6Q38+Pk8hmycnkUrY/SyG5JfUgaVCmr2l5D2Ic4+
JWT_EXPIRES_IN=7d
COOKIE_NAME=tech_hub_session
AUTH_SERVER_URL=http://localhost:3000/
AUTH_CALLBACK_URL=http://localhost:3000/api/auth/github/callback
GITHUB_CLIENT_ID=Ov23liTyscjdVjYAKevt
GITHUB_CLIENT_SECRET=0feebb85463660d65617d87cdb61ec3b48f5076c
